<fieldset>
  <legend>Facebook:</legend>
  <p tccLoginHellojs="facebook"
     (successEvent)="loginSuccessfullyAction($event)"
     (errorEvent)="loginFailedAction($event)">Login facebook</p>
  <p><a (click)="getAuthResponse()">Auth Response</a></p>
  <p><a (click)="getMyInfo()">My info</a></p>
  <p><a (click)="getFriendList()">Friend list</a></p>
  <p><a (click)="initMessageAfterLogin()">Init message after login</a></p>
  <p><a (click)="removeMessageAfterLogin()">Remove message after login</a></p>
  <p tccLogoutHellojs="facebook"
     (successEvent)="logoutSuccessfullyAction($event)"
     (errorEvent)="logoutFailedAction($event)">Logout</p>
</fieldset>
